/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/08/2018, 18:06:46
    Author     : arthu
*/

.menu-item
{
    -fx-padding: 15 25 15 25;
    -fx-backgroud-color: white;
}

.menu-label
{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial Black";
}
