/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/08/2018, 18:06:46
    Author     : arthu
*/

.menu-item
{
    -fx-padding: 15 25 15 25;
    -fx-backgroud-color: white;
    -fx-cursor: hand;
}

.menu-label
{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #868181;
    -fx-font-family: "Arial Black";
}

.menu-label-selected
{
    -fx-text-fill: #ffffff !important;
}

.header-user-perfil
{
    -fx-font-size: 12px;
    -fx-text-fill: #CBC4C4;
    -fx-font-weight: lighter;
    -fx-font-family: "Arial Black";
}

.header-user-name
{
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
}

.home-table-survey-label
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-padding: 15 15 15 15;
}

.home-table-user-icon
{
    -fx-padding: 15 15 15 15;
}

.home-table-item
{
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-font-family: "Arial";
    -fx-padding: 15 15 15 0;
}

.answer-progress-graph .percentage
{
    -fx-fill: null;
}

.answer-progress-graph
{
    -fx-padding: 5 0 -5 0;
}

.home-table
{
    -fx-background-insets: 0;
    -fx-padding: 10 15 10 15;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}    

.home-table-scroll
{
    -fx-border-color: #807B7B;
    -fx-border-width: 3;
    -fx-border-style: solid; 
    -fx-background-color:transparent;
}
.tooltip-progress-graph
{
    -fx-background-color: rgba(130,130,130,0.8);
}

.home-cell-selected
{
    -fx-background-color: #B0B0B0;
    -fx-text-fill: white;
}

.permission-list-cell {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
}

.editor-button
{
    -fx-background-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-border-color: #CDCDCD;
    -fx-border-style: solid;
}

.table-item:selected
{
    -fx-background-color: #B0B0B0;
}

.table-item:selected .table-label
{
    -fx-text-fill: #FFFFFF;
}

.home-table-title
{
    -fx-padding: 5;  
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-family: "Calibri";
    -fx-background-color: #807B7B;
}

.title-table
{
    -fx-padding: 10;  
    -fx-font-size: 24px;
    -fx-text-fill: #0066CC;
    -fx-font-weight: normal;
    -fx-font-family: 'san-serif';
    -fx-background-color: #CCCCCC;
}

.default-pane
{
    -fx-background-color: #D9D9D9;
}
